@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    background: linear-gradient(90deg, #FFCCCC, #CCFFFF);
}

h1 {
    font-family: 'VT323', monospace;
    font-size: 80px;
    text-align: center;
    margin: 0;
}

#settings {
    margin: 20px;
}

#gridSizeDisplay {
    margin: 0px 110px;
}

#grid {
    display: grid;
    height: 600px;
    width: 600px;
    margin: auto;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.square {
    height: 100%;
    width: 100%;
}