* {
    margin: 0;
    --color-dark-blue: #203060;
    --color-purple: #A070F0;
    --color-light-purple: #C5AAFF;
    --color-dark-purple: #7A50C0;
    --color-pink: #FACAD0;
    --color-light-pink: #FFEEE5;
    --color-dark-pink: #FF749E;
    --color-darkest-pink: #FF749E;
}

body {
    text-align: center;
    min-height: 100vh;
    background: linear-gradient(var(--color-light-purple), var(--color-pink), var(--color-light-pink));
}

body .playerIcon {
    font-size: 40px;
    color: goldenrod;
}

h1 {
    font-size: 5rem;
    padding: 1rem;
    color: var(--color-dark-blue);
    text-shadow: -2px 2px var(--color-light-pink);
}

.card {
    background-color: white;
    border: 5px solid var(--color-dark-blue);
    border-radius: 2rem;
    display: grid;
}

#settings {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    margin-top: 3rem;
    width: 25rem;
    height: 25rem;
    grid-template-columns: 1fr 2rem 1fr;
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    align-content: space-around;
}

h2 {
    grid-column: 1 / -1;
    font-size: 2.2rem;
    color: var(--color-dark-blue);
    align-self: center;
}

.nameInput {
    text-align: center;
    font-size: 1.5rem;
    width: 70%;
    outline: none;
    border: none;
}

.nameInput::placeholder {
    color: var(--color-dark-purple);
}

.nameInput:hover {
    border: 1px solid goldenrod;
}

.nameInput:focus {
    color: var(--color-purple);
}

.vs {
    align-self: center;
    color: var(--color-dark-blue);
    font-size: 1.5rem;
    font-weight: 600;
}

button {
    display: flex;
    align-items: center;
    position: relative;
    font-family: inherit;
    padding: 0 3rem 0 1.5rem;
    font-size: 1rem;
    letter-spacing: 2px;
    overflow: hidden;
    border-radius: 0.8rem;
    border: none;
    height: 2.5rem;
    color: white;
}

button .icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    border-radius: 0.6rem;
    right: 5px;
    transition: all 0.3s;
    font-size: 25px;
    background: white;
}

button:hover .icon {
    width: calc(100% - 11px);
}

button:active .icon {
    transform: scale(0.95);
}

#playBtn {
    grid-area: 3 / 2;
    width: 200px;
    justify-self: center;
    margin-top: 20px;
}

#playBtn,
#returnBtn {
    background: var(--color-purple);
    box-shadow: inset 0 0 2rem -0.5rem var(--color-dark-purple);
}

#playBtn .icon,
#returnBtn .icon {
    color: var(--color-dark-purple);
    box-shadow: 2px 2px 8px 4px var(--color-dark-purple);
}

#headingAI {
    grid-area: 4 / 1 / 4 / 4;
    align-self: center;
    font-size: 2rem;
    color: var(--color-dark-blue);
}

.vsAI {
    width: 160px;
}

.vsAI,
#resetBtn {
    background: var(--color-dark-pink);
    box-shadow: inset 0 0 2rem -0.5rem var(--color-darkest-pink);
}

.vsAI .icon,
#resetBtn .icon {
    color: var(--color-dark-pink);
    box-shadow: 2px 2px 8px 4px var(--color-dark-pink);
}

#normal {
    grid-area: 5 / 1;
    justify-self: right;
}

#imp {
    grid-area: 5 / 3;
    justify-self: left;
}

main {
    display: none;
}

.scoreBoard {
    width: 25rem;
    margin: auto;
    padding: 1rem;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
    align-items: center;
}

.points span {
    color: var(--color-darkest-pink);
}

h4 {
    color: var(--color-dark-blue);
    padding: 5% 5% 0 5%;
    font-size: 2rem;
}

#playerNotified {
    text-shadow: -2px 2px var(--color-light-purple);
}

#tilesGrid {
    background-color: var(--color-dark-blue);
    overflow: hidden;
    width: 25rem;
    height: 25rem;
    margin: 1rem auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 4px;
}

.tile {
    font-size: 7rem;
    background-color: white;
    color: goldenrod;
}

.tile:hover {
    background-color: var(--color-purple);
}

.optionBtns {
    display: flex;
    justify-content: space-around;
}